<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjh.exp5associationmapper.mapper.ClassMapper">
    <!--第一种方法：嵌套结果-->
    <resultMap type="com.zjh.exp5associationmapper.pojo.Class" id="ClassResultMap">
        <id property="id" column="c_id"></id>
        <result property="name" column="c_name"/>

        <association property="teacher" column="teacher_id" javaType="com.zjh.exp5associationmapper.pojo.Teacher">
            <id property="id" column="t_id"/>
            <result property="name" column="t_name"/>
        </association>
    </resultMap>
    <select id="getClass" parameterType="Integer" resultMap="ClassResultMap">
        select *
        from class c,teacher t
        where c.teacher_id=t.t_id and c.c_id=#{id}
    </select>

    <!--第二种方法，嵌套查询-->
    <select id="getClass2" parameterType="integer" resultMap="ClassResultMap2">
        select * from class where c_id=#{id}
    </select>

    <resultMap type="com.zjh.exp5associationmapper.pojo.Class" id="ClassResultMap2">
        <id property="id" column="c_id"/>
        <result property="name" column="c_name"/>
        <association property="teacher" column="teacher_id"
                     javaType="com.zjh.exp5associationmapper.pojo.Teacher" select="getTeacher">
        </association>
    </resultMap>

    <select id="getTeacher" parameterType="Integer" resultType="com.zjh.exp5associationmapper.pojo.Teacher" >
        select t_id id, t_name name from teacher
        where t_id=#{id}
    </select>
</mapper>