<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjh.exp5associationmapper.mapper.DeptMapper">
    <resultMap type="com.zjh.exp5associationmapper.pojo.Dept" id="deptMap">
        <id property="deptno" column="deptno"/>
        <result property="dname" column="dname"/>
        <result property="location" column="loc"/>
        <!-- collection:一对多关联映射 根据部门deptno先读取部门信息，然后再读取这个部门所有的用户信息。
        property表示集合类型属性名称，也就是Dept实体类中定义的员工List名字
        ofType表示集合中的对象的类型-->
        <collection property="emps" javaType="ArrayList"
                    ofType="com.zjh.exp5associationmapper.pojo.Emp"
                    column="deptno"
                    select="nuc.edu.cn.chapter05_mybatis1_20191125.dao.IEmpDao.findByDeptno" >
        </collection>
    </resultMap> <!--根据部门编号查询员工 -->

    <select id="findByDeptno" parameterType="Integer" resultMap="deptMap">
        select * from dept where deptno=#{deptno}
    </select>
</mapper>